<div class="content" role="main">
  <div class="toolbar" role="banner">
    <button id="text" [routerLink]="'/'" class="button">Back</button>
  </div>
  <div class="about" class="font"><h1 id="h1">Me</h1></div>
  <div>
    <span class="font2">
      <p class="about" id="text">
        I am a master's student studying interactive media technology at KTH. I
        am passionate about interaction design, web and mobile development,
        machine learning, and how to use technologies to help improve women's
        health. Equipped with sufficient skills in both software engineering and
        interaction design area, I hope I can contribute to improving human life
        quality and our planet.
      </p>
      <p id="text">
        In my spare time, I like listening to music, baking, taking part in
        voluntary work, and going to concerts. Most importantly, I love cats
        very much!
      </p>
    </span>
  </div>
  <div class="card-container">
    <a
      class="card card-small"
      tabindex="0"
      href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:db0c3c1a-ce71-3963-a7e6-185bd3853c81"
    >
      <span class="font"><h3 id="button">CV</h3></span>
    </a>
  </div>
</div>
