<div class="content" role="main">
  <div class="toolbar" role="banner">
    <button id="text" [routerLink]="'/'" class="button">Back</button>
  </div>
  <span class="about" class="font"><h1 id="h1">Me</h1></span>
  <div>
    <span class="font2"
      ><!--h2 id="h2">About Me</h2-->
      <p class="about" id="text">
        I am a master's student studying interactive media technology at KTH. I
        am passionate about interaction design, web and mobile development,
        machine learning, and how to use technologies to help improve women's
        health. Equipped with sufficient skills in both software engineering and
        interaction design area, I hope I can contribute to improving life
        quality and environments.
      </p>

      <p class="about" id="text">
        In my spare time, I like listening to music, baking, taking part in
        voluntary work, and going to concerts. I love cats very much!
      </p>
    </span>
    <div class="card-container">
      <button class="circle-link" tabindex="0" (click)="openDialog()">
        <span class="font"><h3 class="buttonHere">Education</h3></span>
      </button>
      <button class="circle-link" tabindex="0" (click)="openDialogTwo()">
        <span class="font"><h3 class="buttonHere">Work</h3></span>
      </button>
    </div>
  </div>
</div>
