<div class="content" role="main">
  <div class="toolbar" role="banner">
    <button id="text" [routerLink]="'/projects'" class="button">Back</button>
  </div>
  <div class="about" class="font">
    <h1 id="h1">
      Improving Menstrual Health: How Technologies Can Help with Dysmenorrhea
    </h1>
  </div>
  <div>
    <span class="font2">
      <p class="about" id="text">
        A short essay for course
        <i>DH2632 Human-Computer Interaction, Research Seminars</i>. Future work
        of this essay is in progress!
      </p>
      <p class="about" id="text">
        <b>Abstarct:</b> Achieving menstrual health is vital for every person
        who menstruates. During menstruation, dysmenorrhea can cause
        discomforts, which affect menstrual health. The current main treatments
        for dysmenorrhea remain pharmaceutical. Pharmaceutical treatments might
        have side effects, which are concerned. As technologies have been
        developed, non-medical treatments or supports are being investigated. In
        this study, interviews and surveys were conducted to investigate the
        possibilities for Human-Computer Interaction technologies to provide
        support and how they might support. The results present that
        technologies may help people with dysmenorrhea both physically and
        mentally.
      </p>
    </span>
  </div>
  <div class="card-container">
    <a
      class="card card-small"
      tabindex="0"
      href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:8d553ffb-6242-3e60-969f-53def117905c"
    >
      <span class="font"><h3 id="button">Read More</h3></span>
    </a>
  </div>
</div>
