<div class="content" role="main">
  <mat-dialog-content class="mat-typography">
    <h3 class="font2" id="h2">Research Internship</h3>
    <p class="font2" id="text">
      Digital Women's Health Research Group, KTH Royal Institute of Technology,
      2022.3 - current
    </p>

    <h3 class="font2" id="h2">Teaching Assistant</h3>

    <p class="font2" id="text">
      DIT181 Data Structures and Algorithms, University of Gothenburg, 2020.1 -
      2020.3
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="card-container">
      <button class="circle-link" mat-dialog-close>
        <span class="font"><h3 class="buttonHere">Close</h3></span>
      </button>
    </div>
  </mat-dialog-actions>
</div>
