<div class="content" role="main">
  <mat-dialog-content class="mat-typography">
    <h3 class="font2" id="h2">
      Interactive Media Technology, Specialization: Visual Media, Msc
    </h3>
    <p class="font2" id="text">
      KTH Royal Institute of Technology, 2021.8 - 2023.6
    </p>
    <h3 class="font2" id="h2">Software Engineering and Management, BSc</h3>
    <p class="font2" id="text">University of Gothenburg, 2018.9 - 2021.6</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="card-container">
      <button class="circle-link" mat-dialog-close>
        <span class="font"><h3 class="buttonHere">Close</h3></span>
      </button>
    </div>
  </mat-dialog-actions>
</div>
