<style>
  span {
    margin-bottom: 60px;
  }
</style>
<div class="content" role="main">
  <div class="toolbar" role="banner">
    <button id="text" [routerLink]="'/'" class="button">Back</button>
  </div>

  <span class="font"><h1 id="h1">Get in touch</h1></span>

  <span class="font"><h2 id="h2">Email Me:</h2></span>

  <span class="font">
    <a id="h2" style="color: rgb(91, 95, 96)" href="mailto: abc@example.com"
      >xunih@outlook.com</a
    >
  </span>

  <span class="font"><h2 id="h2">Call Me:</h2></span>

  <span class="font">
    <a id="h2" style="color: rgb(91, 95, 96)" href="tel:(+46)0727371565"
      >(+46)0727371565</a
    >
  </span>
</div>
