<div class="content" role="main">
  <div class="toolbar" role="banner">
    <button id="text" [routerLink]="'/projects'" class="button">Back</button>
  </div>
  <div class="about" class="font">
    <h1 id="h1">
      Oasis - An app that helps you relax after socializing
    </h1>
  </div>
  <div>
    <span class="font2">
      <p class="about" id="text">
        We designed and prototyped an app that can help users relax after
        socializing for course
        <i>DM2601 Media Technology and Interaction Design</i>.</p>
        <p id="text"><b>Techqniues: </b>Figma, Adobe XD
      </p>
      
      <img src="/assets/oasis.png" class="center" alt="image_borken" />
    </span>
  </div>
  <div class="card-container">
    <a
      class="card card-small"
      tabindex="0"
      href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:465e2650-40d9-35e9-a25f-67ad83573e46"
    >
      <span class="font"><h3 id="button">Workbook</h3></span>
    </a>
  </div>
</div>
