<!--a href="https://drive.google.com/file/d/1CSPOS3s2Vsjeaxz2RWZXaSZe84m-z6so/view?usp=sharing">Get File</a-->
<div class="container">
  <iframe
    src="../../assets/workbook.pdf#toolbar=0"
    width="600px"
    height="500px"
    class="center"
  >
  </iframe>
  <div class="content">
    <!--mat-dialog-content class="mat-typography">
      <h3 class="font2" id="h2">
        Group Project of DM2601 Media Technology and Interaction Design
      </h3>
      <p class="font2" id="text">
        The theme for the project is a more introverted world in 10 years. Our
        team prototyped a well-being app Oasis to help international students
        recharg and relax.
      </p>
    </mat-dialog-content-->
    <mat-dialog-actions>
      <div class="card-container">
        <button class="circle-link" mat-dialog-close>
          <span class="font"><h3 class="buttonHere">Close</h3></span>
        </button>
      </div>
    </mat-dialog-actions>
  </div>
</div>
