<div class="content" role="main">
  <div class="toolbar" role="banner">
    <button id="text" [routerLink]="'/'" class="button">Back</button>
  </div>

  <div class="font">
    <span><h1 id="h1">Project Work</h1></span>
  </div>

  <div class="card-container">
    <button class="circle-link" tabindex="0" (click)="openDialog()">
      <span class="font"><h3 id="button">Not So Smart Arduino Car</h3></span>
    </button>

    <button class="circle-link" tabindex="0">
      <span class="font"><h3 id="button">Oasis Relaxing App</h3></span>
    </button>

    <button class="circle-link" tabindex="0">
      <span class="font"><h3 id="button">MultiVroom Racing Game</h3></span>
    </button>

    <button class="circle-link" tabindex="0">
      <span class="font"><h3 id="button">Moody Art & Music App</h3></span>
    </button>

    <button class="circle-link" tabindex="0">
      <span class="font"><h3 id="button">Bachelor Thesis Project</h3></span>
    </button>

    <button class="circle-link" tabindex="0">
      <span class="font"
        ><h3 id="button">How Technology Can Help Menstrual Health</h3></span
      >
    </button>
  </div>
</div>
