<div class="content" role="main">
  <div class="toolbar" role="banner">
    <button id="text" [routerLink]="'/projects'" class="button">Back</button>
  </div>
  <div class="about" class="font">
    <h1 id="h1">Arduino Mini Smart Car</h1>
  </div>
  <div>
    <span class="font2">
      <p class="about" id="text">
        In this project for course
        <i>DIT112 Mini Project: System Development</i>. We developed a mobile
        app that enables users to control an Arduino car. The smart car can be
        voice-controlled, automatically detects obstacles, and do line
        following. I was responsible for programming the smart car.
      </p>
      <p id="text">
        <b>Techniques: </b>Arduino, Java, Arduino, Android Studio, PCB design
      </p>
      <iframe
        src="https://www.youtube.com/embed/DHMe0ubszqI"
        width="100%"
        height="500px"
      >
      </iframe>
    </span>
  </div>
  <div class="card-container">
    <a
      class="card card-small"
      tabindex="0"
      href="https://github.com/xunih/group-06"
    >
      <span class="font"><h3 id="button">Git Repository</h3></span>
    </a>
  </div>
</div>
