<div class="content" role="main">
  <div class="toolbar" role="banner">
    <button id="text" [routerLink]="'/projects'" class="button">Back</button>
  </div>
  <div class="about" class="font">
    <h1 id="h1">MultiViroom Racing Game</h1>
  </div>
  <div>
    <span class="font2">
      <p class="about" id="text">
        My group developed a multimodal mobile racing game with Unity for course
        <i>DT2140 Multimodal Interaction and Interfaces</i>. Users can tilt their mobile phones and press buttons to
        control the car. The game will give haptic feedback when the car hits
        something. In my group, I was responsible for user evaluation planning
        and data analysis.
      </p>
      <iframe
        src="https://player.vimeo.com/video/664178098"
        width="100%"
        height="500px"
        class="center"
      ></iframe>
    </span>
  </div>
  <div class="card-container">
    <a
      class="card card-small"
      tabindex="0"
      href="https://acrobat.adobe.com/link/track?uri=urn:aaid:scds:US:93969c59-db6d-353e-a40c-942e04d0a47b"
    >
      <span class="font"><h3 id="button">Report</h3></span>
    </a>
  </div>
</div>
