<div class="content" role="main">
  <div class="toolbar" role="banner">
    <button id="text" [routerLink]="'/projects'" class="button">Back</button>
  </div>
  <div class="about" class="font">
    <h1 id="h1">MultiViroom</h1>
  </div>
  <div>
    <span class="font2">
      <p class="about" id="text">
        My teammates and I developed an app that can generate artwork and music
        playlist according to the chosen mood for course
        <i>DH2642 Interaction Programming and the Dynamic Web</i>. In my group,
        I was mostly responsible for the backend web development and some
        frontend development.
      </p>
      <p id="text">
        <b>Techqniues:</b> Vue, Javascript, HTML, CSS, Quasar, Firebase
      </p>
      <iframe
        src="https://player.vimeo.com/video/664178098"
        width="100%"
        height="600px"
        class="center"
      ></iframe>
    </span>
  </div>
  <div class="card-container">
    <a
      class="card card-small"
      tabindex="0"
      href="https://moody-4cdec.web.app/#/"
    >
      <span class="font"><h3 id="button">Try It</h3></span>
    </a>
  </div>
</div>
